
@import "@/assets/styles/variables.scss";
@import "materialize-css/sass/components/_color-variables";
$primary-color: #42a5f5;
$secondary-color: color("blue", "lighten-1") ;
@import "materialize-css/sass/materialize";


*{
    margin: 0;
    padding: 0;
}
.bold{
    font-weight: bold;
}
.nomargin{
    margin: 0px !important;
}
.nopadding{
    padding: 0px !important;
}
.clear{
    clear: both;
}
.overflowhidden{
    overflow: hidden;
}
.flex{
    display: flex;
}
.inline{
    display: inline;
}
.verticalMiddle{
    vertical-align: middle;
}